.adress {
  margin: auto;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  margin-top: 50px;
}

.adress p {
  color: #333;
  margin: auto;
  padding: 20px 55px;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .adress {
    margin-top: 175px;
  }
}
