footer {
  background-color: #292c2f;
  margin-top: 50px;
  padding: 35px 15%;
}

.footer_info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  margin-top: 10px;
  flex-wrap: wrap;
}

footer h5 {
  font-family: cursive;
  font-size: 24px;
  color: #eba106;
  text-align: center;
  margin-top: 0;
}

.home_number,
.mobile_number {
  margin-top: 10px;
}

footer a {
  margin-top: 0;
}

@media only screen and (max-width: 768px) {
  footer {
    padding: 35px 10px;
  }
}
